.task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(79, 97, 113);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--color-gray-500);
    gap: 0.5rem;
    border:1px solid var(--color-gray-400);
}

.task input {
    display: none;
}

.task label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.uncheckedBox {
    color: var(--color-blue);
    background-color: var(--color-gray-100);
    /* border: 2px solid var(--color-purple); */
    /* border-radius: 100%; */
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.task p {
    font-size: 0.875rem;
}

.task button {
    border: none;
    background-color: transparent;
    padding: 5px 4px 2px 4px;
    transition: 0.2s;
    color: var(--color-gray-300);
}

.task button:hover {
    background-color: var(--color-gray-400);
    border-radius: 4px;
    color: var(--color-danger);

}
