.task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(79, 97, 113);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--color-gray-500);
    gap: 0.5rem;
    border:1px solid var(--color-gray-400);
}

.task input {
    display: none;
}

.task label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.uncheckedBox {
    color: var(--color-gray-100);
    border: 2px solid var(--color-blue);
    border-radius: 100%;
    display: flex;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
}

.checkedBox {
    color: var(--color-gray-100);
    border: 2px solid var(--color-purple);
    background-color: var(--color-purple);
    border-radius: 100%;
    display: flex;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.task p {
    font-size: 0.875rem;
    line-height: 1.4;
    transition: 0.1s;
}

.taskContentMarked {
    text-decoration: line-through;
    color: var(--color-gray-300);
}

.task button {
    border: none;
    background-color: transparent;
    padding: 5px 4px 2px 4px;
    transition: 0.2s;
    color: var(--color-gray-300);
}

.task button:hover {
    background-color: var(--color-gray-400);
    border-radius: 4px;
    color: var(--color-danger);

}
